.navbar {
  background-color: #f9f6ff;
  padding: 1em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-item-container {
  justify-content: space-end;
  list-style-type: none;
  display: flex;
}

.navbar-item {
  padding: 1em;
}
