.landingpage-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  font-family: Lato;
  padding: 3em;
}

.landingpage-title {
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 0.25em;
  color: rgb(0, 0, 0, 87%);
  padding: 2em 1em 1em 1em;
}

.landingpage-title > span {
  color: #995bff;
}

.landingpage-subtitle {
  width: 50%;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.5em;
  padding: 1em 1em 1em 1.5em;
  color: #828282;
}

.landingpage-phonenumber {
  font-size: 1em;
  padding: 1em 1em 1em 1.5em;
  letter-spacing: 0.1em;
}

.landingpage-button {
  width: 100%;
  display: flex;
  padding: 1em 1em 1em 1.5em;
  align-items: center;
}

.landingpage-button > button {
  width: 33%;
  font-size: 1.25em;
  border: 2px solid #995bff;
  background-color: #995bff;
  border: none;
  color: white;
  padding: 0.2em;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-radius: 999px;
  position: relative;
}

.landingpage-button > button:hover .landingpage-button-logo{
  width: 100%;
}
.landingpage-button > button:hover .landingpage-button-text{
  color: #995bff;
}

.landingpage-button-logo {
  width: 3em;
  height: 3em;
  border-radius: 999px;
  color: #995bff;
  background-color: white;
  position: relative;
  transition: all 0.3s ease;
}

.landingpage-button-logo > svg {
  font-size: 1.5em;
}

.landingpage-button-logo-icon {
  left: 0.5em;
  top: 0.5em;
  position: absolute;
}

.landingpage-button-text {
  left: 33%;
  position: absolute;
  font-size: 1.25rem;
  letter-spacing: 3px;
}

